<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Jeff Fennell{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="og-title" content="{% block og-title %}Jeff Fennell{% endblock %}">
        <meta name="og-description" content="{% block og-description %}Jeff Fennell{% endblock %}">
        <meta name="og-image" content="{% block og-image %}Jeff Fennell{% endblock %}">
        <meta name="og-url" content="{% block og-url %}Jeff Fennell{% endblock %}">
        <meta name=og-type content="{% block og-type %}website{% endblock %}">
        <meta name="fb:app_id" content="2134409153442957">
        <link rel="stylesheet" href="/static/css/uikit-3.0.0-rc.16.min.css" />
        <script src="/static/js/uikit-3.0.0-rc.16.min.js"></script>
        <script src="/static/js/uikit-3.0.0-rc.16-icons.min.js"></script>
        {% block stylesheets %}{% endblock%}
    </head>
    <body>
    	<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    		<div class="uk-navbar-center">
        	<ul class="uk-navbar-nav">
            <li class="uk-active"><a href="">test1</a></li>
            <li class="uk-parent"><a href="">test2</a></li>
            <li><a href=""></a></li>
		        </ul>
		    </div>
    	</nav>
    	{% block body %}{% endblock %}
    	{% block scripts %}{% endblock %}
    </body>
</html>